# Firebase Configuration (for simulator/hardware integration)
FIREBASE_DATABASE_URL=https://wattswap-953a8-default-rtdb.asia-southeast1.firebasedatabase.app
FIREBASE_SERVICE_ACCOUNT_KEY_PATH=./firebase-adminsdk.json

# Avalanche Configuration
AVAX_RPC_URL=https://api.avax-test.network/ext/bc/C/rpc
WATTSWAP_CONTRACT_ADDRESS=0x...
AVAX_USDC_ADDRESS=0x5425890298aed601595a70ab815c96711a756003

# Solana Configuration
SOLANA_RPC_URL=https://api.devnet.solana.com
SOLANA_WALLET_ADDRESS=

# Circle Configuration
CIRCLE_API_KEY=

# MongoDB
MONGODB_URI=mongodb://127.0.0.1:27017/wattswap

# Server
PORT=4000
NODE_ENV=development
